.navBar {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.625rem;
    width: 100vw;
    padding: 0 2.125rem;
}